# What is List?

## Problem

If you want to store multiple items, you would need to create a separate variable for each one.

```
student1 = "Ahmad"
student2 = "Ali"
student3 = "Kashif"
```

This approach works fine if you have just a few items. But what if you have 10, 100, or even more? It quickly becomes unmanageable.

If you want to add or remove an item, you have to manually shift the data around or create new variables.

```
student4 = "Usman"
```

Accessing an item requires you to remember the exact variable name associated with it.

```
print(student1)
print(student2)
```

## Solution

### List
A list in Python is like a container that can hold multiple items, one after another. Imagine you have a shopping list where you write down everything you need to buy. A Python list is very similar, but instead of just groceries, it can hold all kinds of things like numbers, words, or even other lists!

### Store Multiple Items Together:

A list allows you to keep multiple items in one place. For example, if you want to keep track of all your students' names, you can store them in a list.

In [1]:
students : list = ["Ahmad", "Ali", "Kashif"]
          #index   0 -3      1 -2      2 -1

### Access Items by Position:

Lists keep items in the order you put them in. You can access any item by telling Python where it is in the list (starting from 0).

In [5]:
print(students[0])
print(students[1])
print(students[2])

Ahmad
Ali
Kashif

### Change Items:

You can easily change an item in the list if you need to update it.

In [7]:
students[0]: list[str] = "Saleem"
print(students[0])

Saleem

In [8]:
print(students)

['Saleem', 'Ali', 'Kashif']

## Array Methods

In [10]:
[i for i in dir(students) if "__" not in i]
# dir(students)
# len(students) #Python uses __len__ to find out the length of the list.__len__ "behind-the-scenes" functions

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
del_stu:str = students.pop() # invoke method
print(del_stu)
print(students)

Kashif
['Saleem', 'Ali']

### Append a new student

In [12]:
students.append("Usman")
print(students)

['Saleem', 'Ali', 'Usman']

### insert()

In [13]:
students.insert(0,"ahmad")

In [14]:
print(students)

['ahmad', 'Saleem', 'Ali', 'Usman']

In [15]:
students.insert(3,"Iqbal")
print(students)

['ahmad', 'Saleem', 'Ali', 'Iqbal', 'Usman']

### Pop the last student

In [16]:
last_student:list[str] = students.pop()
print(last_student)
print(students)

Usman
['ahmad', 'Saleem', 'Ali', 'Iqbal']

### Remove a specific or custom student by name

In [17]:
students.remove("Ali")
print(students)

['ahmad', 'Saleem', 'Iqbal']

In [22]:
students.insert(2,"ali")

In [23]:
print(students)

['ahmad', 'Saleem', 'ali', 'Iqbal', 'ali', 'ali']

In [24]:
students.remove("ali")
print(students)

['ahmad', 'Saleem', 'Iqbal', 'ali', 'ali']

In [ ]:
# create new list
a : list[str] = ['a','b','c']
# print(id(a))
a = ['d','e','f']
# print(id(a))
print(a)

### extend()
Supply the array to be extended

In [31]:
arr1: list[int] = [1,2,3]
a : list[int] = [4,5,6]
arr1.extend(a)
print(arr1)
print(a)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

### clear()

In [32]:
a.clear()
print(a)

[]

### count(), index methods
### list() method

In [46]:
characters : list[str] = list("abcdefghijkalmnopqrstbuvwxyz")
# characters : list[str] = ["ahmad"]
print(characters)
characters.count('a')
characters.append("Z")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'a', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'b', 'u', 'v', 'w', 'x', 'y', 'z']

### index()

In [44]:
characters.index('a',1)

11

## Slicing

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

In [1]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                         -26   -25  -24                                                                                                                -1

# defualt slicing go from left to right
print(len(characters))
print(characters[0:6]) # 0= include : index 6-1 = 5
print(characters[:4]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:2]) # 0= include : index 2-1 = 1
print(characters[0:2:])
print(characters[0:7:3])

26
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D']
['A', 'B']
['A']
['A', 'B']
['A', 'D', 'G']

In [5]:
print(characters[5:-10])

['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']

In [63]:
print(characters)
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [10]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
                        #  0    1    2    3    4    5    6   7
print(characters[::-1])
print(characters[4:2:-1])
# print(characters[4:7])

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['E', 'D']

## Projects

### Project 1: Student Management System
Create a program to manage a list of student names. Implement functionalities to:
- Add a new student.
- Remove a student by name.
- Display all students in alphabetical order.
- Count the total number of students.

### Project 2: List Operations Demo
Develop a Python script to demonstrate:
- Appending items to a list.
- Inserting an item at a specific position.
- Popping and removing items.
- Sorting and reversing the list.
- Slicing the list to create sub-lists.